<div class="pantalla">
    <div class="tarjeta">
        <p-toast></p-toast>
        <p-card header="Validación de Pico y Placa">
            <span class="p-float-label">
                <p-inputMask id="placa" mask="aaa-9999" [(ngModel)]="validationRequest.placa" placeholder="AAA-9999"
                    [style]="{'text-transform': 'uppercase'}"></p-inputMask>
                <label for="placa">Placa:</label>
            </span>
            <span class="p-float-label">
                <p-inputMask id="fecha" [(ngModel)]="fecha" mask="9999-99-99" placeholder="yyyy-mm-dd"
                    slotChar="yyyy-mm-dd"></p-inputMask>
                <label for="fecha">Fecha:</label>
            </span>
            <span class="p-float-label">
                <p-inputMask id="hora" [(ngModel)]="hora" mask="99:99" placeholder="hh:mm"
                    slotChar="hh:mm"></p-inputMask>
                <label for="hora">Hora:</label>
            </span>
            <ng-template pTemplate="footer">
                <p-button label="Validar" icon="pi pi-check" (onClick)="validarCirculacion()">

                </p-button>
                <p-button label="Limpiar" icon="pi pi-times" (onClick)="limpiarCampos()" styleClass="p-button-secondary"
                    [style]="{ 'margin-left': '.5em' }">
                </p-button>
            </ng-template>
        </p-card>
    </div>

    <div class="tarjeta">
        <p-card header="Historial de Consultas" [style]="{ width: '360px'}">
            <p class="m-0">
                <p-table [value]="listaHitorial" [tableStyle]="{ 'min-width': '50rem' }">

                    <ng-template pTemplate="header">
                        <tr>
                            <th>Placa</th>
                            <th>Fecha Validada</th>
                            <th>Circula</th>
                            <th>Fecha Consulta</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-consulta>
                        <tr>
                            <td>{{ consulta.placa}}</td>  
                            <td>{{ consulta.fechaConsultada }}</td>
                            <td>{{ consulta.circula? "SI":"NO"}}</td>
                            <td>{{ consulta.fechaConsulta }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </p>
        </p-card>
    </div>
</div>


<p-dialog header="Validación realizada" [(visible)]="mostrarMernsaje" [style]="{width: '50vw'}" [closable]="false" [closeOnEscape]="false">
    <p>
        {{validationResponse.circula? "Puede Circular":"NO Puede Circular"}}
    </p>
    <p [innerHTML]="validationResponse.mensaje"> 
    </p>
    <p-button label="Aceptar" icon="pi pi-check" (onClick)="limpiarCamposSinMensaje();ocultarMostrarMensaje()">

    </p-button>
    <p-button label="Corregir" icon="pi pi-times" (onClick)="ocultarMostrarMensaje()" styleClass="p-button-secondary"
        [style]="{ 'margin-left': '.5em' }">
    </p-button>
</p-dialog>